body {
    height: 100vh !important;
}

.one-btn {
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 20px;
    font-weight: 500;
    background-color: #facd66;
}

.one-btn:hover {
    background-color: #dbb458;
}

.two-btn {
    cursor: pointer;
    color: #515452;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid #515452;
    background-color: transparent;
}

.two-btn:hover {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.images {
    display: flex;
    margin: 20px 0 0 0;
}

.one-image,
.two-image,
.three-image,
.four-image {
    width: 17vw;
    filter: brightness(60%);
}

.two-image,
.three-image,
.four-image {
    margin-left: 1.5vw;
}

.images img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: brightness(80%);
}

.images h1 {
    font-size: 1.3em;
    color: #FFFFFF;
    bottom: 3vw;
    left: 1.5vw;
    font-weight: 600;
    position: absolute;
}

.images p {
    font-size: 1em;
    color: #FFFFFF;
    bottom: 2vw;
    left: 1.5vw;
    position: absolute;
}

.images span,
.bx-play-circle {
    display: none;
}

@media only screen and (min-width: 501px) and (max-width: 800px) {

    .buttons-images {
        width: 99vw;
    }

    .one-btn {
        margin-left: 2.2em;
    }

    .images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1.5em 0em;
    }

    .one-image,
    .two-image,
    .three-image,
    .four-image {
        width: 40vw;
        filter: brightness(80%);
        margin: 0 auto;
    }

    nav {
        display: none !important;
    }

    .images h1 {
        bottom: 7.5vw;
        left: 3vw;
    }

    .images p {
        bottom: 5vw;
        left: 3vw;
    }
}

/* mobile  */
@media only screen and (max-width: 500px) {

    body {
        height: 100vh !important;
    }

    .buttons-images {
        width: 99vw;
        align-items: center;
        text-align: center;
    }

    nav,
    footer {
        display: none !important;
    }

    .one-btn {
        padding: 2vw 15vw;
    }

    .two-btn {
        padding: 2vw 15vw;
        margin-left: 2vw;
    }

    .images {
        width: 99vw;
        display: inline-block;
    }

    .one-image,
    .two-image,
    .three-image,
    .four-image {
        width: 90vw;
        height: auto;
        margin: 2% 0 0 4%;
    }

    .images h1 {
        font-size: 1.3em;
        color: #FFFFFF;
        bottom: 25vw;
        left: 5vw;
        font-weight: 500;
        position: absolute;
    }

    .images p {
        font-size: 1em;
        color: #FFFFFF;
        bottom: 20vw;
        left: 5vw;
        position: absolute;
    }

    .images span {
        font-size: 1em;
        color: #FFFFFF;
        bottom: 7vw;
        left: 5vw;
        position: absolute;
        display: block;
    }

    .bx-play-circle {
        bottom: 10vw;
        right: 6vw;
        font-size: 2.5em;
        color: #facd66;
        position: absolute;
        display: block;
    }
}