* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    width: 100vw;
    height: 155vh;
    display: grid;
    grid-template-rows: 8% 78% 14%;
    background-color: #1d2123;
}

header {
    display: grid;
    grid-template-columns: 6% 90% 1fr;
    align-content: center;
    z-index: 1;
}

header img {
    width: 2em;
    margin: auto;
}

.search {
    margin: auto 2em;
}

.search i {
    color: #56585a;
}

.search input{
    background-color: transparent;
    border: none;
    color: #56585a;
    margin: 1em;
    font-size: 1em;
    width: 30%;
    padding: 0.3em;
}

.search input:hover {
    background-color: rgba( 255, 255, 255, 0.1);
    color: #FFFFFF;
    border: none;
}

.lateral-menu i {
    color: #ffffff;
    font-size: 1.5em;
}

.lateral-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.checkbtn {
    display: none;
}

#check {
    display: none;
}

main {
    display: grid;
    grid-template-columns: 6% 94%;
    z-index: 1;
}

nav {
    margin: 0 auto;
    z-index: 1;
}

nav ul {
    background-color: #1a1e1f;
    padding: 1em 0.8em;
    margin: 0.5em;
    border-radius: 25px;
}

nav li {
    list-style-type: none;
    font-size: 1.4em;
    margin: 1em 0;
}

a {
    text-decoration: none;
}

nav a {
    color: #56585a;
}

nav a:hover {
    color: #faf8f3;
}

nav a:active {
    color: #facd66;
}

i {
    cursor: pointer;
}

footer {
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    color: transparent;
    background: rgba(26, 29, 31, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    border-top: 1px solid #858788;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

h5 {
    flex-direction: column;
    justify-content: center;
    display: flex;
    color: #FFFFFF;
    font-size: 0.8em;
    font-weight: 600;
    margin: 0 0.5em;
}

h5 span {
    display: block;
    font-weight: 400;
    color: #858788;
}

footer ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 1em auto;
}

footer li {
    list-style-type: none;
    display: inline;
    color: #FFFFFF;
    font-size: 1.3em;
}

.cover {
    display: flex;
    flex-direction:row;
    align-items: center;
}

.cover img {
    width: 4vw;
    height: 7vh;
    border-radius: 10px;    
    margin: 0 0 0 6em;
}

.line-reproduction {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 31% 69%;
    z-index: 0;
}

.line-reproduction i {
    color: #facd66;
    position: relative;
    top: -1.7vh;
    left: 18vw;
    z-index: 2;
    font-size: 1.5em;
}

.orange {
    height: 0.2em;
    background-color: #facd66;
    z-index: 1;
}

.gray {
    height: 0.2em;
    background-color: gainsboro;
    z-index: 1;
}

.volume {
    width: 70%;
    display: grid;
    grid-template-columns: 25% 75%;
    margin: auto;
}

.volume i {
    color: #FFFFFF;
    position: relative;
    top: -1.3vh;
    left: -2vw;
    font-size: 1.2em;
}

footer li:hover,
.volume i:hover {
    color: #facd66;
}

@media only screen and (max-width: 800px) {
    .search {
        display: none;
    }

    .checkbtn {
        display: block;
    }

    nav ul {
        display: none;
    }

    main {
        display: grid;
    }
}