body {
    background-image: url("./../images/weekly.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
}

body::before {
    content:'';
    position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    background-image: linear-gradient(rgba(0,0,0,0.9), #1d2123);
    z-index: 0;
}

article {
    width: 85vw;
    display: grid;
    grid-template-rows: 42vh 1fr;
}

div img {
    width: 20vw;
    border-radius: 25px;
    margin: 1vh 1.5vw;
}

.top-chart {
    display: grid;
    grid-template-columns: 22vw 1fr;
    gap: 1.5em;
    align-items: center;
    width: 85vw;
}

h3 {
    font-size: 2.5em;
    color: #abc6c6;
}

.description-chart p {
    color: #bdbcb5;
    width: 45vw;
    margin: 2em 0;
}

.description-chart span {
    display: block;
    margin-top: 1em;
}

.list {
    width: 90vw;
}

.list ul {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    gap: 1vh;
    margin: 1em;
}

.list li {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr 10fr 10fr 2fr;
    color: #bdbcb5;
    background-color: rgba(38, 40, 43, 0.6);
    border-radius: 15px;
    height: 8vh;
    width: 90vw;
    align-items: center;
    text-align: center;
}

li p {
    font-size: 0.75em;
}

section i {
    color: #facd66;
}

.top-chart button {
    background-color: rgba(255,255,255,0.1);
    border: none;
    color: #FFFFFF;
    padding: 1em 1.5em;
    border-radius: 20px;
    margin: 0 0.5em 0 0;
}

.top-chart button:last-of-type {    
    padding: 1em;
    border-radius: 50%;
}

.bxs-heart {
    color: #FFFFFF;
}

.bxs-heart:active {
    color: red;
}

.list img {
    width: 2.1em;
    border-radius: 10px;
    border: none;
    margin: 0 1em;
}