* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

header {
    background-color: #2E2E38;
    width: 100%;
    height: 85px;
    padding: 0px 32px;
    display: grid;
    grid-template-columns: minmax(150px, 15%) 1fr;
    grid-gap: 10px;
}

header div:last-of-type {
    display: grid;
    grid-template-columns:  minmax(50%, 60%) 1fr;    
    grid-gap: 10px;
}

header :is(li) {
    display: inline;
}

header :is(button) {
    box-sizing: border-box;
    width: 110px;
    height: 80px;
    background-color: transparent;
    border-style: none;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 500;
}

header img {
    width: 60px;
    padding-top: 10px;
}

img {
    width: 100%;
}

div h1 {
    color: #FFFFFF;
    margin: -300px 0px 250px 100px;
    font-size: 44px;
    font-weight: 500;
}

div span {
    display: block;
}

main {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(150px, 16%) 1fr;
    grid-gap: 8em;
}

nav div {
    margin-bottom: 20px;
}

nav div :is(p) {
    font-size: 14px;
    margin-top: 0px;
}

nav div :is(div) {
    margin-top: 15px;
}

nav div a:only-of-type {
    font-weight: 700;
    font-size: 16px;
}

nav div p:only-of-type {
    font-size: 14px;
    margin-top: 10px;
}

nav p {
    font-size: 16px;
    margin: 15px 0;
    padding-left: 5px;
}

nav p:last-of-type {
    font-size: 14px;
}

nav a:not([href]) {
    display: block;
    border: 1px solid #0F0F0F;
    width: 100%;
    padding: 16px 15px;
    margin: 10px auto;
    font-size: 14px;
    font-weight: 700;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    display:inline-flex;
}

nav li {
    padding: 7px;
    margin:25px 5px 25px 3px;
    border: 1px solid #000;
    border-radius: 50%;
}

article div:first-of-type{
    font-size: 28px;
    margin-bottom: 25px;
}

article div:nth-of-type(2) p {
    font-size: 14px;
}

article div:nth-of-type(2) ul {
    font-size: 20px;
    padding-left: 40px;
    margin: 30px 0px;
}

article div:nth-of-type(2) li {
    margin-bottom: 10px;
}

article div:nth-of-type(3) {
    width: 735px;
}

article div:nth-of-type(3) p:first-child::first-letter {
    color: #2E2E38;
    font-size: 100px;
    line-height: 1;
    margin-inline-end: 5px;
}

article div:nth-of-type(3) p {
    font-size: 20px;
    margin: 20px 0px;
}

article div:nth-of-type(3) h4 {
    font-size: 28px;
    margin: 30px 0px;
}

article div:nth-of-type(3) ul {
    font-size: 20px;
    padding-left: 40px;
    margin-bottom: 30px;
}

article div:nth-of-type(4) {
    margin: 25px 0px;
    width: 735px;
}

article div:nth-of-type(4) span{
    font-size: 114px;
    line-height: 130px;
}

article div:nth-of-type(5) {    
    width: 735px;
}

article div:nth-of-type(5) p {
    font-size: 20px;
    margin: 20px 0px;
}

article div:nth-of-type(6) {
    margin: 25px 0px;
    width: 735px;
}

article div:nth-of-type(6) span{
    font-size: 114px;
    line-height: 130px;
}


article div:nth-of-type(7) {    
    width: 735px;
}

article div:nth-of-type(7) p {
    font-size: 20px;
    margin: 20px 0px;
}

article div:nth-of-type(8) {
    width: 735px;
    background-color: #C4C4C4;
    display: grid;
    grid-template-columns: minmax(50%, 50%) 1fr;
    grid-area: 700px;
    grid-gap: 10px;
    padding: 20px 30px;
    margin: 35px 0px;
}

article div:nth-of-type(8) h3 {
    font-size: 36px;
    text-align: center;
    margin: 50px;
    font-weight: 400;
}

article div:nth-of-type(8) p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 300px;
}

article div:nth-of-type(9) {    
    width: 735px;
}

article div:nth-of-type(9) p {
    font-size: 20px;
    margin: 20px 0px;
}

article div:nth-of-type(10){
    display: grid;
    grid-template-columns: minmax(50%, 50%) 1fr;
    grid-gap: 25px;
    margin: 25px 0px;
    width: 735px;
}

article div:nth-of-type(10) p {    
    font-size: 16px;
    margin: 20px 0px;
}

article div:nth-of-type(10) span {    
    font-size: 114px;
    line-height: 130px;
}

article div:nth-of-type(11) {    
    width: 735px;
}

article div:nth-of-type(11) p {
    font-size: 20px;
    margin: 20px 0px;
}

article div:nth-of-type(12){
    display: grid;
    grid-template-columns: minmax(50%, 50%) 1fr;
    grid-gap: 25px;
    margin: 25px 0px;
    width: 735px;    
}

article div:nth-of-type(12) p {    
    font-size: 16px;
    margin: 20px 0px;
}

article div:nth-of-type(12) span {    
    font-size: 114px;
    line-height: 130px;
}

article div:nth-of-type(13) {
    width: 735px;
}

article div:nth-of-type(13) h2 {    
    font-size: 40px;
    margin: 0px 0px 30px;
}

article div:nth-of-type(13) p {    
    font-size: 20px;
    margin: 20px 0px;
}

section {    
    display: grid;
    grid-template-columns: minmax(50%, 60%) 1fr;
    grid-gap: 30px;
}

section ul {    
    font-size: 20px;
    padding-left: 40px;
    margin: 30px;
}

section li {    
    margin-bottom: 20px;
}

section h2 {
    font-size: 28px;
    margin-top: 15px;
}

section a {
    font-size: 20px;
    font-weight: 700;
}

section p{
    font-size: 16px;
}