* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

main{
  display: flex;
  height: 100vh;
}

.sidebar {
  float: left; 
  width: 250px;
  min-width: 250px;
  background-color: #1a1c1e;
}

.content {
  float: left; 
  width: 100%;
  position: relative;
  background-size: cover;
  background-position-x: center;
  background-image: url("./images/image.png");
}

.img-1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0 0 12px;
}

.picture {
  text-align: center;
  display: flex;
  margin: 30px 0 30px 0;
}

.picture span {
  padding: 15px;
  font-size: 18px;
  color: white;
}

a {
  font-size: 16px;
  display: table;
  width: 100%;
  padding: 5px 20px;
  text-decoration: none;
  color: white;
}

a:hover{
  background: #111111;
}

.fa-solid {
  width: 70px;
  height: 35px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  top: 12px;
}

.list-two{
  padding: 20px 0;
  list-style: none;
}

.img-2{
  max-width: 100%;
  height: auto;
  /* height: 100%; */
}

.content-text{
  top: 250px;
  left: 100px;
  position: absolute;
}

h1 {
  width: 450px;
  color: #ffffff;
  /* margin: -600px 0px 50px 80px; */
  font-size: 50px;
}

p {
  width: 450px;
  color: #ffffff;
  /* margin: 0px 0px 100px 80px; */
  font-size: 35px;
}

.btn-one{
  text-align: center;
  padding: 20px 40px;
  border-radius: 10px;
  /* margin-left: 80px; */
  background: #FD841F;
  cursor: pointer;
  border: none;
}

.btn-two{
  color: white;
  cursor: pointer;
  text-align: center;
  padding: 18px 15px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: transparent;
}

.btn-two:hover{
  color: black;
  background-color: white;
}
