* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(77, 74, 74);
    background-blend-mode: soft-light;
    background-image: url("./images/banner-dune.jpg");
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

img[alt="netflix"] {
    display: flex;
    width: 30px;
}

ul {
    display: flex;
    text-decoration: none;
}

.list-one li {
    padding: 20px 25px;
    display: flex;
    text-decoration: none;
}

.list-two li {
    padding: 10px;
    display: flex;
    text-decoration: none;
}

a {
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-one {
    margin: 350px 12px 0px 10%;
}

.content-one h1 {
    font-weight: 800;
    font-size: 45px;
    color: #ffffff;
}

.content-one p,
.content-one span {
    font-weight: 600;
    color: #a4a8b2;
}

p {
    margin-top: 30px;
}

.content-description i {
    color: #f1be40;
}

.buttons {
    display: flex;
    margin-top: 100px;
}

.buttons button {
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #ffffff;
    border-radius: 7px;
}


.btn-one {
    display: flex;
    margin-right: 30px;
    padding: 15px 35px;
    align-items: center;
    background-color: #1f58ff;
}

.btn-two {
    padding: 15px 55px;
    background-color: #b2b7bd2b;
}

.content-two {
    margin: 350px 0px 0px 250px;
}

.content-two h2 {
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 15px;
}

.scenes {
    margin-bottom: 25px;
}

.scenes,
.actors {
    display: flex;
    flex-direction: row;
}

.scenes img {
    width: 140px;
    margin: 10px;
    border-radius: 7px;
}

.actors img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.circle {
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #676e77;
}

.actors figcaption {
    font-size: 12px;
    text-align: center;
    color: #ffffff;
}

.contente-img-actor figure {
    margin-right: 20px;
}