* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    width: 100%;
    height: 155vh;
    display: grid;
    grid-template-rows: 8% 78% 14%;
    background-color: #1d2123;
    z-index: 0;
}

header {
    display: grid;
    grid-template-columns: 6% 90% 1fr;
    margin: 0 auto;
    width: 99vw;
    align-content: center;
    z-index: 1;
}

header img {
    width: 2em;
    margin: auto;
}

.search {
    margin: auto 2em;
}

.search i {
    color: #56585a;
}

.search input{
    background-color: transparent;
    border: none;
    color: #56585a;
    margin: 1em;
    font-size: 1em;
    width: 30%;
    padding: 0.3em;
}

.search input:hover {
    background-color: rgba( 255, 255, 255, 0.1);
    color: #FFFFFF;
    border: none;
}

.lateral-menu i {
    color: #ffffff;
    font-size: 1.5em;
}

.lateral-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 6% 94%;
    margin: 0 auto;
    width: 99vw;
    z-index: 1;
}

nav {
    margin: 0 auto;
    z-index: 1;
}

nav ul {
    background-color: #1a1e1f;
    padding: 1em 0.8em;
    margin: 0.5em;
    border-radius: 25px;
}

nav li {
    list-style-type: none;
    font-size: 1.4em;
    margin: 1em 0;
}

a {
    text-decoration: none;
}

nav a {
    color: #56585a;
}

nav a:hover {
    color: #faf8f3;
}

nav a:active {
    color: #facd66;
}

i {
    cursor: pointer;
}

footer {
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    color: transparent;
    background: rgba(26, 29, 31, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    border-top: 1px solid #858788;
    position: fixed;
    width: 100vw;
    height: 10vh;
    bottom: 0;
    z-index: 1;
}

h5 {
    flex-direction: column;
    justify-content: center;
    display: flex;
    color: #FFFFFF;
    font-size: 0.7em;
    font-weight: 600;
    margin: 0 0.5em;
}

h5 span {
    display: block;
    font-weight: 400;
    color: #858788;
}

footer ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0.5em auto;
}

footer li {
    list-style-type: none;
    display: inline;
    color: #FFFFFF;
    font-size: 1.3em;
}

.cover {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 0.5em;
}

.cover img {
    width: 5vw;
    height: auto;
    border-radius: 10px;
    margin: 0  0 0 2.5em;
}

.reproductor {
    display: flex;
    flex-direction: column;
}

.line-reproduction input,
.volume input {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    padding: 0;
}

.line-reproduction input::-webkit-slider-runnable-track,
.volume input::-webkit-slider-runnable-track {
    background-color: #facd66;
    height: 0.5vh;
}

.line-reproduction input::-webkit-slider-thumb,
.volume input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    background-color: #ffffff;
    margin-top: -0.4em; 
}

.volume {
    width: 70%;
    height: 5vh;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.volume i {
    color: #FFFFFF;
    font-size: 1.2em;
}

footer li:hover,
.volume i:hover {
    color: #facd66;
}

.reproductor-mobile {
    display: none;
}

.lateral-menu {
    display: none;
}

@media only screen and (max-width: 800px) and (min-width: 501px){
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        width: 80vw;
    }

    header img {
        margin: 0;
    }

    .lateral-menu {
        display: block;
    }
    
    .search,
    nav ul {
        display: none;
    }

    .lateral-menu ul:first-of-type {
        text-align: end !important;
        margin: 0;
    }

    .lateral-menu ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
     }

     .dropdown-header {
        display: flex;
        justify-content: end;
        z-index: 3;
     }
  
     .dropdown-header:hover .modal-1 {
        display: flex;
        flex-direction: column;
     }

     main {
        display: grid;
        position: relative;
        z-index: 0;
     }
  
     .modal-1 {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: none;
        z-index: 5;  
     }
  
     .modal-1 ul {
        padding: 3em;
        display: flex;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        background-color: #1a1e1f;
     }
  
     .modal-1 li {
        display: flex;
        justify-content: start;
        width: 30vw;
        margin: 2em;
     }
  
     .modal-1 a {
        display: flex;
        justify-content: center;
        flex-direction: row;
     }  
  
     .modal-1 span {
        font-size: 1.5em;
        font-weight: 400;
        color: #4f524f;
        margin-left: 1em;
     }
  
     .modal-1 i {
        font-size: 2em;
        margin: 0px auto;
        padding: 1px;
        color: #ffffff;
        border-radius: 8px;
     }
  
     .modal-1 li:hover i {
        color: #facd66;
     }
  
     .modal-1 li:hover span {
        color: #ffffff;
     }

    .cover img {
        width: 8vw;
        height: auto;
        border-radius: 10px;
        margin: 0  0 0 0.5em;
    }

    .cover h5 {
        font-size: 0.6em;
    }

    .reproductor li {
        font-size: 1em;
    }

    .volume i {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 500px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        width: 85vw;
    }

    header img {
        margin: 0;
    }

    .search,
    nav,
    .reproductor,
    nav ul,
    .volume {
        display: none;
    }

    .lateral-menu {
        display: block;
    }

    .lateral-menu ul:first-of-type {
        text-align: end !important;
        margin: 0;
    }

    .lateral-menu ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
     }

     .dropdown-header {
        display: flex;
        justify-content: end;
        z-index: 3;
     }
  
     .dropdown-header:hover .modal-1 {
        display: flex;
        flex-direction: column;
     }

     main {
        display: grid;
        position: relative;
        z-index: 0;
     }
  
     .modal-1 {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: none;
        z-index: 5;  
     }
  
     .modal-1 ul {
        padding: 3em;
        display: flex;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        background-color: #1a1e1f;
     }
  
     .modal-1 li {
        display: flex;
        justify-content: start;
        width: 50vw;
        margin: 1.2em;
     }
  
     .modal-1 a {
        display: flex;
        justify-content: center;
        flex-direction: row;
     }  
  
     .modal-1 span {
        font-size: 1em;
        font-weight: 400;
        color: #4f524f;
        margin-left: 1em;
     }
  
     .modal-1 i {
        font-size: 2em;
        margin: 0px auto;
        padding: 1px;
        color: #ffffff;
        border-radius: 8px;
     }
  
     .modal-1 li:hover i {
        color: #facd66;
     }
  
     .modal-1 li:hover span {
        color: #ffffff;
     }

    footer {
        display: grid;
        grid-template-columns:  1fr 1fr;
        padding: 0 1em;
    }

    .cover img {
        width: 13vw;
        height: auto;
        border-radius: 10px;
        margin: 0  0 0 0.5em;
    }

    .reproductor-mobile {
        display: block;
        font-size: 1.5em;
        color: #FFFFFF;
        text-align: end;
        margin: auto 0;
    }

    .reproductor-mobile i:first-of-type {
        background-color: #facd66;
        border-radius: 50%;
    }
}