* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: grid;
  grid-template-rows: 7% 93%;
  height: 180vh;
}

header {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  background-color: #121212;
  border-bottom: 1px solid #abb2b9;
}

header nav {
  margin: auto;
  font-weight: 300;
  color: #fff;
}

figure i {
  color: #1f74ff;
  font-size: 40px;
}

a {
  text-decoration: none;
}

header li {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  display: inline;
  padding: 0px 15px;
}

header div {
  margin: auto;
}

header span {
  background-color: #f62524;
  padding: 1px 5px;
  border-radius: 10px;
  margin-left: 5px;
  font-size: 12px;
}

button {
  padding: 12px 20px;
  background-color: #1f74ff;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
}

.menu {
  display: none;
}

section {
  background-color: #121212;
  display: flex;
}

.title {
  width: 50%;
  margin: 5% 5% 20% 5%;
  flex-wrap: wrap;
}

h5 {
  color: #abb2b9;
  font-size: 15px;
  font-weight: 500;
}

h1 {
  color: #fff;
  font-weight: 100;
  font-size: 54px;
}

h1 span {
  display: block;
}

.description {
  color: #fff;
  width: 30%;
  margin: 5% 15% 25% 5%;
  font-size: 18px;
  flex-wrap: wrap;
}

.description p {
  line-height: 25px;
  margin-bottom: 20px;
}

section button:first-of-type {
  padding: 12px 20px;
  background-color: #1f74ff;
  color: #fff;
  font-weight: 600;
  border-radius: 7px;
  margin-right: 10px;
  border: none;
}

section button:last-of-type {
  padding: 12px 20px;
  background-color: #373737;
  color: #fff;
  font-weight: 600;
  border-radius: 7px;
  border: none;
}

figure {
  margin: auto;
}

main {
  display: grid;
  grid-template-rows: 50% 1% 49%;
}

.image {
  width: 70%;
  margin: 0 auto;
}

.image img {
  width: 70%;
  position: absolute;
  top: 23em;
}

footer {
  margin: 30% auto 0;
  width: 80%;
  height: 40%;
}

h6 {
  font-size: 1.2rem;
  padding: 20px;
  text-align: center;
}

footer ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

footer li {
  list-style-type: none;
  text-align: center;
  padding: 0px 30px 20px;
}

footer i {
  font-size: 4rem;
  color: #7f8c8d;
  display: block;
  text-align: center;
}

footer span {
  color: #7f8c8d;
  font-size: 1.1rem;
  display: block;
}

footer a {
  text-decoration: none;
  display: grid;
  grid-template-rows: 70% 30%;
}

@media only screen and (max-width: 980px) and (min-width: 541px) {
  body {
    height: 230vh;
  }

  header {
    grid-template-columns: 1fr 6fr 1fr;
  }

  header button {
    margin-right: 1em;
    font-size: 0.7em;
    border: none;
  }

  section {
    display: flex;
    flex-wrap: wrap;
  }

  nav span {
    display: none;
  }

  .title {
    width: 80%;
    margin: 10% auto -15%;
  }

  .description {
    width: 80%;
    margin: 0 auto 10%;
  }

  .image img {
    top: 35em;
  }

  footer {
    margin: 35% auto;
  }

  footer ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  footer li {
    padding: 0px 10px 10px;
  }

  footer i {
    font-size: 50px;
    color: #7f8c8d;
    text-align: center;
  }
}

@media only screen and (max-width: 540px) {
  body {
    display: grid;
    grid-template-rows: 7% 93%;
    height: 200vh;
  }

  header {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #121212;
    border-bottom: 1px solid #abb2b9;
  }

  header nav,
  header div {
    display: none;
  }

  figure {
    margin: auto 20%;
  }

  .menu {
    display: block;
    margin: auto 70%;
    font-size: 30px;
  }

  .menu i {
    color: #fff;
  }

  section {
    display: flex;
    flex-wrap: wrap;
  }

  .title {
    margin: 20% 10% 0%;
    width: 80%;
  }

  h5 {
    font-size: 14px;
  }

  h1 {
    font-size: 36px;
  }

  .description {
    margin: -20% 10% 0%;
    width: 80%;
    font-size: 13px;
  }

  .image img {
    top: 33em;
  }

  footer {
    grid-template-rows: 40% 60%;
  }

  footer div {
    text-align: center;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 25% 1fr;
  }

  footer ul {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2%;
  }

  h6 {
    font-size: 15px;
    text-align: center;
  }

  footer li {
    padding: 0px 0px 0px;
    height: 40px;
  }

  footer i {
    font-size: 40px;
  }

  footer span {
    font-size: 14px;
  }

  footer a {
    text-decoration: none;
  }
}
